body {
  display: block;
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background: #ffffff;
}

h1 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #492140;
  width: 375px;
  height: 57px;
  margin-bottom: 20px;
  padding-top: 15px;
}

button {
  background: #da1bb0;
  margin-top: 20px;
  display: block;
  margin: 20 auto;
  width: 327px;
  height: 56px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700 bold;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 16px;
  color: #263238;
  font-weight: 500 medium;
}
.container {
  display: block;
  text-align: center;
}
.box {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  opacity: 0.16;
  margin-top: 10px;
  margin-bottom: 15px;
}
/* .box::placeholder {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 76px;
  top: 16px;
  font-size: 25px;
} */
.pass-box {
  width: 327px;
  height: 56px;
  border-radius: 8px;
  opacity: 0.16;
  margin-top: 10px;
  margin-bottom: 0px;
}

.pass {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0px;
  padding: 0px;
  color: #ff0000;
}

.sign-in {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500 medium;
  color: black;
  text-align: center;
  text-decoration: none;
}
